<script type="text/javascript">
    let password = "please";
    console.log(document.cookie.includes('loggedIn=true'));
    //checks for cookie
    if (document.cookie.includes('loggedIn=true') == false) {
        //puts up promtpt if cookie not existing
        let x = prompt("Enter in the password ", " ");
        if (x.toLowerCase() == password) {
            //set cookie
            let timespemp = new Date(Date.UTC(2022, 12, 23));
            document.cookie = "loggedIn=true; ${timespemp.toUTCString()}";
            //alertttt
            alert("Come right in \n \n You've entered in the right password");
            window.location = "index.html";
        } else {
            window.location = "bad.htm";
        }
    }
</script>